// base font
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


// base color
$base--nav-background: #2E4F4F;
$base--background: #2C3333;
$base--text-color: #0E8388;
$base--btn-color: #CBE4DE;

$base--nav-textColor: #CBE4DE;

// base font
$base-Font: Poppins;

// base padding
$base--padding: 4rem;