.btn-hero__btn{
  background-color: $base--hero-btn-background;
  border: none;
  height: 42px;
  width: 160px;
  border-radius: 8px;
  cursor: pointer;
  font-family: $base-Font;
  font-size: 16px;
  font-weight: 600;
}