.home{
  background-color: $base--background;
  color: $base--text-color;
  font-family: $base-Font;
 
  padding: $base--padding;
  .hero__text{
    font-size: 36px;
    width: 500px;
  }
  .hero__btn{
    padding: 24px 0px;
  }
}