.home{

 .hero__text{
  font-size: 60px;
 }
 .actn__btn{
  width: 160px;
  height: 40px;
  background: #D9D9D9;
  border: none;
  border-radius: 0px 50px;
 }
}

.App{
  height: 100vh;
  font-family: $--fontStyle;
}