.home{
  height: 100%;
 .hero__text{
  font-size: 60px;
 }
 .actn__btn{
  width: 160px;
  height: 40px;
  background: #ECB21D;
  border: none;
  border-radius: 0px 50px;
  box-shadow: -3px 4px 8px -3px rgba(0,0,0,1);
  -webkit-box-shadow: -3px 4px 8px -3px rgba(0,0,0,1);
  -moz-box-shadow: -3px 4px 8px -3px rgba(0,0,0,1);
 }
}

.App{
  height: 100vh;
  font-family: $--fontStyle;
}

.img__box{

  position: relative;
  padding: 0px 24px 0px 24px;

}
.glow__img{
  object-fit: contain;
  position: absolute;
  top: -40px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  border-radius:12px;
  cursor: pointer;
  animation: animate 2s infinite ease alternate !important;
}

@keyframes animate {
  to {
    transform: translateY(12px);
  }
}

.group__logo{
  padding-top: 40px;
  height: 96px;
  display: flex;
  gap: 58px ;
  max-width:100%;
  overflow: hidden;
}
.group__logo img{
  height: 34.285728454589844px;
  width: 153.68421936035156px;
}