.input__section{
  font-family: $base-Font;
  padding: $base--padding;
  background-color: $base--input-page-backgrount;
  .input__page--title{
    padding: 40px 0px;
    text-align: center;
   
  }

  .input__page--container{
    display: flex;
    .input__groups{
      width: 50%;
    }
    .pdf__section{
      h2{
        padding: 8px 0px;
      }
      margin-top: 40px;
    }
    
    .live__priview--section{
    
     
      width: 50%;

      
    }


  }
}