.live__view{
  height: 800px;
  background-color: white;
  .live__view--container{
    padding: 40px;
  }

  .name_container{
    display: flex;
    h2{
      display: inline-block;
      padding: 4px;
    }
    .profile__img{
      width: 180px;
      height: 160px;
      border: 2px solid black;
      margin-left: 340px;
      position: absolute;
      z-index: 1;
    }
  }
  .address_container{
    p{
      display: inline-block;
      padding: 4px;
    }
  }
  .personal__info-container{
    display: flex;
    p{
      padding: 4px;
    }
  }
  .job_detail{
    p{
      display: inline-block;
    }
  }
  .school_info{
    margin-top: 12px;
  }
  .social__info{
    margin-top: 12px;
  }
  .company__info{
    margin-top: 12px;
  }
}