.navbar{
  background-color: $base--nav-background;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  .logo{
    padding: 0 0 0 40px;
    color: $base--nav-textColor;
    h2{
      font-size: 40px;
    }
  }
}