@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #2E4F4F;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navbar .logo {
  padding: 0 0 0 40px;
  color: #CBE4DE;
}
.navbar .logo h2 {
  font-size: 40px;
}

.home {
  background-color: #2C3333;
  font-family: Poppins;
  padding: 4rem;
}
.home .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home .container .hero__img-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.home .container .hero__img-section .hero__img {
  height: 400px;
  width: 400px;
}
.home .hero__text {
  font-size: 36px;
  width: 500px;
  color: #CBE4DE;
}
.home .hero__btn {
  padding: 24px 0px;
}

.btn-hero__btn {
  background-color: #0E8388;
  border: none;
  height: 42px;
  width: 160px;
  border-radius: 8px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}

.input__section {
  height: 100vh;
  background-color: #CBE4DE;
}