@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.home {
  height: 100%;
}
.home .hero__text {
  font-size: 60px;
}
.home .actn__btn {
  width: 160px;
  height: 40px;
  background: #ECB21D;
  border: none;
  border-radius: 0px 50px;
  box-shadow: -3px 4px 8px -3px rgb(0, 0, 0);
  -webkit-box-shadow: -3px 4px 8px -3px rgb(0, 0, 0);
  -moz-box-shadow: -3px 4px 8px -3px rgb(0, 0, 0);
}

.App {
  height: 100vh;
  font-family: Poppins;
}

.img__box {
  position: relative;
  padding: 0px 24px 0px 24px;
}

.glow__img {
  object-fit: contain;
  position: absolute;
  top: -40px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  border-radius: 12px;
  cursor: pointer;
  animation: animate 2s infinite ease alternate !important;
}

@keyframes animate {
  to {
    transform: translateY(12px);
  }
}
.group__logo {
  padding-top: 40px;
  height: 96px;
  display: flex;
  gap: 58px;
  max-width: 100%;
  overflow: hidden;
}

.group__logo img {
  height: 34.2857284546px;
  width: 153.6842193604px;
}

.ins__text {
  font-size: 20px;
  font-weight: 800;
}

.icon {
  font-size: 40px;
}

.actn__btn {
  width: 160px;
  height: 32px;
  background: #ECB21D;
  border: none;
  border-radius: 4px;
  box-shadow: -3px 4px 8px -3px rgb(0, 0, 0);
  -webkit-box-shadow: -3px 4px 8px -3px rgb(0, 0, 0);
  -moz-box-shadow: -3px 4px 8px -3px rgb(0, 0, 0);
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.live__section {
  height: 100%;
}

.live__board {
  margin-left: 0px !important;
  height: 70vh;
  width: 80% !important;
  background-color: whitesmoke;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 4px;
  box-shadow: -3px 4px 8px -3px rgb(0, 0, 0);
  -webkit-box-shadow: -3px 4px 8px -3px rgb(0, 0, 0);
  -moz-box-shadow: -3px 4px 8px -3px rgb(0, 0, 0);
}

.personal__info {
  margin-left: 0px !important;
  width: 100%;
  line-height: 10px;
  border-bottom: 1px solid rgb(150, 150, 150);
}
.personal__info p {
  font-size: 14px;
}
.personal__info h1 {
  font-size: 14px;
  font-weight: 800;
}
.personal__info .live__board__icon {
  padding-right: 6px;
  height: 12px;
  width: 12px;
}
.personal__info .email {
  display: inline-flex;
}
.personal__info .phone {
  display: inline-flex;
}
.personal__info .name {
  display: inline-flex;
}
.personal__info .name h1 {
  padding-right: 6px;
}

.address {
  display: inline-flex;
}
.address p {
  padding-right: 8px;
}

.summary {
  margin-left: 0px !important;
  border-bottom: 1px solid rgb(150, 150, 150);
}
.summary h1 {
  font-size: 14px;
  font-weight: 800;
}
.summary p {
  font-size: 14px;
}

.expriance {
  margin-left: 0px !important;
  line-height: 8px;
  border-bottom: 1px solid rgb(150, 150, 150);
}
.expriance h1 {
  font-size: 14px;
  font-weight: 800;
}
.expriance p {
  font-size: 14px;
}
.expriance .company {
  line-height: 4px;
}

.education {
  margin-left: 0px !important;
  line-height: 8px;
  border-bottom: 1px solid rgb(150, 150, 150);
}
.education h1 {
  font-size: 14px;
  font-weight: 800;
}
.education p {
  font-size: 14px;
}
.education .school {
  line-height: 4px;
}
.education .school_info {
  display: inline-flex;
}
.education .school_info p {
  padding-right: 8px;
}

.skill_info {
  margin-left: 0px !important;
  display: inline-flex;
}
.skill_info p {
  padding-right: 8px;
}

.add__more {
  display: inline-flex;
}
.add__more .add__icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.add__more p {
  padding-left: 12px;
}